{% extends "base.html" %}

{% block title %}Mis Apuestas - HatTrick House{% endblock %}

{% block content %}
    <div class="div-show-all-bets">
        {% for bet in bets %}
            <div class="div-show-specific-bet">
                <div class="bet-info">
                    <h3>{{ bet.game.home_team }} vs {{ bet.game.away_team }}</h3>
                    {% if bet.selection == '1' %}
                        <p>Elección: {{ bet.game.home_team }}</p>
                    {% elif bet.selection == '2' %}
                        <p>Elección: {{ bet.game.away_team }}</p>
                    {% elif bet.selection == 'X'%}
                        <p>Elección: Empate</p>
                    {% endif %}
                    <p>Cantidad: {{ bet.amount }} €</p>
                    <p>Cuota: {{ bet.price }}</p>
                    <p>Ganancias Potenciales: <strong>{{bet.potential_profit|floatformat:2}} €</strong></p>
                </div>
                <div class="bet-actions">
                    <form action="{% url 'apuestas:eliminar_apuesta' bet.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="button-delete-bet" value="ELIMINAR APUESTA" onclick="return confirm('¿Estás seguro de que quieres cancelar esta apuesta y recuperar tu dinero?');">
                    </form>
                    
                    {% comment %} <input type="submit" class="button-edit-bet" value="EDITAR APUESTA"> {% endcomment %}
                    <a href="{% url 'apuestas:editar_apuesta' bet.id %}" class="button-edit-bet" style="display: inline-block; text-decoration: none; box-sizing: border-box;">EDITAR APUESTA</a>
                </div>
            </div>
        {% empty %}
        <p>No has realizado apuestas todavía.</p>
        {% endfor %}

    </div>

{% endblock %}